.login-page {
  --background: white;
  min-height: 100vh;
  position: relative;
}

.bck-white {
    --background: white;
}

.nobox{
    box-shadow: none;
}

.centered-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.ion-text-center{
    font-size: 28px;
}
.login-img {
  max-width: 100%;
  height: auto;
  
}

.text-color-black{
    color:black;
}

.centered-text-block {
  text-align: center;
  margin-bottom: 16px; /* opcional para separar de los inputs */
}

.underline-blue { 
    text-decoration: underline;
    color: blue;
}

.top-spacing{
    margin-top: 50px;
}

.text-wh-bol{
    font-weight: bold;
    color: white;
}

.input-error {
  border: 1px solid red;
}


.brown-element{
     --background: --var(--color-primary);
}

/* Footer in login page */
.login-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
  text-align: center;
  font-size: 12px;
  color: #666;
}
.login-footer sup {
  font-size: 10px;
  margin-left: 4px;
}

